::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-transition: all ease .5s !important;
  transition: all ease .5s !important;
  background-color: black;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #33CB67;
  height: 1vw;
  cursor: pointer;
  border-left: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8bfab2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root .App {
  position: relative;
}

#root .App nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

#root .App nav .rotated_top {
  position: absolute;
  background-color: #FF0066;
  width: 30%;
  min-height: 20vh;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-30deg) translate(29%, -40.5%);
          transform: rotate(-30deg) translate(29%, -40.5%);
}

#root .App nav .straight_top {
  position: absolute;
  background-color: #FF0066;
  width: 10%;
  min-height: 20vh;
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -13%);
          transform: translate(0%, -13%);
}

#root .App nav .biglight, #root .App nav .little_light {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App nav .biglight div, #root .App nav .little_light div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .main_inner_container {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

#root .App .main_inner_container .spacer {
  position: absolute;
}

#root .App .main_inner_container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .main_inner_container section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#root .App .main_inner_container section div .light_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#root .App .main_inner_container section div .light_container .little_light {
  width: 2vw !important;
  height: 2vw !important;
  border: .2vw solid black !important;
}

#root .App .main_inner_container section div .light_container div {
  -webkit-transform: none !important;
          transform: none !important;
}

#root .App .main_inner_container section div .light_container div div {
  -webkit-transform: translate(20%, -50%) !important;
          transform: translate(20%, -50%) !important;
}

#root .App .main_inner_container section div .apart {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0vw 3vw;
}

#root .App .main_inner_container section div .apart .speaker_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .App .main_inner_container section div .apart .speaker_section div {
  -webkit-transform: translate(0%, 0%) !important;
          transform: translate(0%, 0%) !important;
}

#root .App .main_inner_container section .display_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .App .main_inner_container section .display_navigation div .swap_button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .main_inner_container section .display_navigation div .swap_button:hover {
  background-color: #929292 !important;
}

#root .App .main_inner_container section .display_navigation div .swap_button:active {
  background-color: #4d4d4d !important;
  -webkit-box-shadow: inset 0 0 1vw black;
          box-shadow: inset 0 0 1vw black;
}

#root .App .main_inner_container section .display_navigation div .swap_button:active i {
  color: grey;
}

#root .App .main_inner_container section .display_navigation div .swap_button i {
  font-size: 2vw;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#root .App .main_inner_container section .display_navigation .display_button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#root .App .main_inner_container section .display_navigation .display_dpad {
  position: relative;
}

#root .App .main_inner_container section .display_navigation .display_dpad div {
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .App .main_inner_container section .display_navigation .display_dpad div button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .main_inner_container section .display_navigation .display_dpad div button:active {
  background-color: #929292 !important;
}

#root .App .main_inner_container section .display_navigation .display_dpad div button i {
  font-size: 1vw;
}

#root .App .main_inner_container section .display_navigation .display_dpad .inner_circle {
  z-index: 100;
}

#root .App .main_inner_container section .display_navigation .display_dpad .button_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .main_inner_container section .key_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#root .App .main_inner_container section .key_container .enter {
  width: 50% !important;
}

#root .App .main_inner_container section .key_container .backspace, #root .App .main_inner_container section .key_container .clear {
  width: 25% !important;
}

#root .App .main_inner_container section .key_container .space {
  width: 75% !important;
}

#root .App .main_inner_container section .key_container button {
  font-weight: bold;
  cursor: pointer;
}

#root .App .main_inner_container section .key_container button:hover {
  background-color: #94c4ff !important;
}

#root .App .main_inner_container section .key_container button:active {
  background-color: #62a9ff !important;
}

#root .App .main_inner_container section .light_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .App .main_inner_container section .light_container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: none !important;
          transform: none !important;
}

#root .App .main_inner_container section .light_container div div div div {
  -webkit-transform: translate(-60%, -60%) !important;
          transform: translate(-60%, -60%) !important;
}

#root .App .main_inner_container section .light_container .yellow_light_container div .little_light {
  width: 4vw !important;
  height: 4vw !important;
}

#root .App .main_inner_container section .button_navigation div {
  cursor: pointer;
}

#root .App .main_inner_container section .button_navigation div:hover {
  background-color: #6d6d6d !important;
}

#root .App .main_inner_container section .button_navigation div:active {
  background-color: #4b4b4b !important;
  -webkit-box-shadow: inset 0 0 .5vw black;
          box-shadow: inset 0 0 .5vw black;
}

#root .App .main_inner_container section .button_navigation div:active i {
  font-size: 3vw;
  color: grey;
}

#root .App .main_inner_container section .button_navigation div i {
  font-size: 3vw;
}

#root .App .main_inner_container section .input_screen {
  position: relative;
  font-family: 'Press Start 2P', cursive;
}

#root .App .main_inner_container section .input_screen div {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

#root .App .main_inner_container section .inner_screen {
  z-index: 10;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  overflow-y: scroll;
}

#root .App .main_inner_container section .inner_screen div {
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: .25vw 0vw;
}

#root .App .main_inner_container section .inner_screen div:hover {
  text-decoration: underline !important;
}

#root .App .main_inner_container section .inner_screen i {
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
}

#root .App .main_inner_container section .inner_screen i:hover {
  color: #86bdff;
}
/*# sourceMappingURL=main.css.map */